*{
    font-family: "Roboto", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}
.container{
    background-color: #1F2937;
}
.Logo{
    font-size: 24px;
    color: #F9FAF8;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.text-info{
    font-size: 18px;
    color: #E5E7EB;
}
.signUp-button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}
.action{

    background-color: #3882F6;
}
h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2973;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937 ;
}