*{
    font-family: "Roboto", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}
.container{
    background-color: #1F2937;
}
.Logo{
    font-size: 24px;
    color: #F9FAF8;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.text-info{
    font-size: 18px;
    color: #E5E7EB;
}
.signUp-button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}
.action{
    border-radius: 10px;
    font-size: 18px;
    height: 40%;
    width: 75%;
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.action-info{
    font-weight: bold;
}
.quote-info{
    height: 30%;
    width: 75%;
}
h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2973;
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937 ;
}
.container-3{
    background-color: #E5E7EB;
}
.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
.name{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: end;
    padding: 20px;
}

.container-4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-block{
    display: flex;
    flex-direction: row;
}
.container, .container-2, .container-3, .container-4{
    height: 400px;
    border: 5px;
    box-sizing: border-box;
}